.button-searchButton {
    -fx-background-image: url('loop.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}