USE [master]
GO
/****** Object:  Database [VideoPlayer]    Script Date: 17-01-2020 16:21:18 ******/

DROP DATABASE IF EXISTS VideoPlayer
CREATE DATABASE [VideoPlayer]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoPlayer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoPlayer]
GO
/****** Object:  Table [dbo].[tblPlayList]    Script Date: 17-01-2020 16:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPlayList](
	[fldPlayListName] [nvarchar](50) NOT NULL,
	[fldUserName] [nvarchar](15) NULL,
 CONSTRAINT [PK_tblPlayList] PRIMARY KEY CLUSTERED 
(
	[fldPlayListName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserAccount]    Script Date: 17-01-2020 16:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserAccount](
	[fldName] [nvarchar](50) NULL,
	[fldAddress] [nvarchar](50) NULL,
	[fldZipCode] [nvarchar](15) NULL,
	[fldUserName] [nvarchar](15) NOT NULL,
	[fldPassword] [nvarchar](40) NULL,
	[fldPhoneNumber] [nvarchar](40) NULL,
	[fldEmailAddress] [nvarchar](60) NULL,
	[fldDefaultFilePath] [nvarchar](60) NULL,
	[fldDefaultTheme] [nvarchar](20) NULL,
	[fldDateOfBirth] [date] NULL,
	[fldGender] [nvarchar](6) NULL,
	[fldBioText] [nvarchar](200) NULL,
	[fldProfileImage] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblUserAccount] PRIMARY KEY CLUSTERED 
(
	[fldUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVideo]    Script Date: 17-01-2020 16:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVideo](
	[fldFilePath] [nvarchar](100) NOT NULL,
	[fldCategory] [nvarchar](40) NULL,
	[fldTitle] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblVideo] PRIMARY KEY CLUSTERED 
(
	[fldFilePath] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVideoPlaylists]    Script Date: 17-01-2020 16:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVideoPlaylists](
	[fldPlayListName] [nvarchar](50) NULL,
	[fldAutoNumb] [int] IDENTITY(1,1) NOT NULL,
	[fldFilePath] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblVideoPlaylists] PRIMARY KEY CLUSTERED 
(
	[fldAutoNumb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPlayList]  WITH CHECK ADD  CONSTRAINT [FK_tblPlayList_tblUserAccount] FOREIGN KEY([fldUserName])
REFERENCES [dbo].[tblUserAccount] ([fldUserName])
GO
ALTER TABLE [dbo].[tblPlayList] CHECK CONSTRAINT [FK_tblPlayList_tblUserAccount]
GO
ALTER TABLE [dbo].[tblVideoPlaylists]  WITH CHECK ADD  CONSTRAINT [FK_tblVideoPlaylists_tblPlayList] FOREIGN KEY([fldPlayListName])
REFERENCES [dbo].[tblPlayList] ([fldPlayListName])
GO
ALTER TABLE [dbo].[tblVideoPlaylists] CHECK CONSTRAINT [FK_tblVideoPlaylists_tblPlayList]
GO
ALTER TABLE [dbo].[tblVideoPlaylists]  WITH CHECK ADD  CONSTRAINT [FK_tblVideoPlaylists_tblVideo] FOREIGN KEY([fldFilePath])
REFERENCES [dbo].[tblVideo] ([fldFilePath])
GO
ALTER TABLE [dbo].[tblVideoPlaylists] CHECK CONSTRAINT [FK_tblVideoPlaylists_tblVideo]
GO
USE [master]
GO
