.root {
    -fx-accent: #e4008e;
    -fx-focus-color: -fx-accent;
    -fx-base: #ff00dc;
    -fx-control-inner-background: derive(-fx-base, 50%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
}

.label {
    -fx-text-fill: lightgray;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}


.button:default {
    -fx-base: -fx-accent;
}

.menu-item:default {
    -fx-base: -fx-accent;
}

.menu-button:default {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-basse: transparent;
}

.pane {

    -fx-accent: #1a6ee4 !important;
    -fx-focus-color: -fx-accent;
    -fx-base: #3f0039;
    -fx-control-inner-background: derive(-fx-base, 50%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
}

#pane {
    -fx-accent: #1a6ee4 !important;
    -fx-focus-color: -fx-accent;
    -fx-base: #111;
    -fx-control-inner-background: derive(-fx-base, 50%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
}


.playListButton {
    -fx-font-weight: bold;
    -fx-background-color: #585858 !important;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-opacity: .85;
    -fx-pref-height: 42;
    -fx-pref-width: 182;
}

.playListButton:hover {
    -fx-font-weight: bold !important;
    -fx-background-color: white !important;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: linear-gradient(to right, grey, #76b8b0);


}

.playListButton:pressed {
    -fx-scale-x: .9;
    -fx-scale-y: .9;

}

.playListButtonTwo {
    -fx-font-weight: bold;
    -fx-background-color: black !important;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-text-fill: linear-gradient(to right, grey, #76b8b0);
    -fx-opacity: .85;
    -fx-pref-height: 42;
    -fx-pref-width: 182;
}

#configurePlaylistButton {
    -fx-background-color: #585858 !important;
}





