.tool-bar{
    -fx-background-color:  #202323;
    -fx-background-radius: 35;
    -fx-padding: 0 40 0 40;
}

.playPauseButton {
    -fx-padding: 0 10 0 30;
}

.progressSlider {
    -fx-padding: 0 10 0 10;
}

.volumeSlider{
    -fx-padding: 0 20 0 0;
}

.label {
    -fx-padding: 0 20 0 0;
}

.titleLabel .text{
    -fx-fill: black;
    -fx-stroke: white;
    -fx-stroke-width: 1px;
}

.settingsVbox {
    -fx-background-color: #202323;
    -fx-background-radius: 35;
    -fx-opacity: 1;
    -fx-border-color: gray;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: 35;
    -fx-padding: 10 20 10 20;
}

.settingsVbox .label{
    -fx-padding: 5 0 10 0;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-pref-width: 300;
}

.settingsVbox .slider{
    -fx-padding: 0 0 20 0;
}

.images:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}

.slider:hover .thumb{
    -fx-scale-x: 1.4;
    -fx-scale-y: 1.4;
}

.slider:hover .track{
    -fx-scale-y: 1.4;
}


